<% provide(:title, "Graph") %>
<%= render 'layouts/header' %>

<div class="container is-text-centered">
  <h1 class="title is-1 bold">Graph Page</h1>
	<p class="control is-grouped">
	  
	</p>
<!--
<h4 class="title is-4">Filter by tag:</h4>
<span class="tag is-info">House</span>
<span class="tag is-info">Senate</span>
<br>
<span class="tag is-info">Education</span>
<span class="tag is-info">Crime</span>
<span class="tag is-info">Corrections</span>
<span class="tag is-info">Civil Rights</span>
<span class="tag is-info">Local Gov't</span>
<span class="tag is-info">Environment</span>
<span class="tag is-info">Healthcare</span>
<span class="tag is-info">Technology</span>
<span class="tag is-info">Utilities</span>
<span class="tag is-info">Taxes</span>
<span class="tag is-info">Veterans</span>
<span class="tag is-info">Economy</span>
<span class="tag is-info">Agriculture</span>
<span class="tag is-info">Transportation</span>
<span class="tag is-info">Family Affairs</span>
</div>
<br><br>

<div class="container is-half">
	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="bill_page_Senate_Bill_01.html">Senate Bill 1</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
	      Senate Bill 1 establishes a twelve-member law study commission to study whether environmental/administrative law judges should be replaced by an administrative court.
	      <br>
	      <img src="images/bar1.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="bill_page_Senate_Bill_02.html">Senate Bill 2</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
Senate Bill 2 adds to civil rights laws to prevent discrimination based on sexual orientation, gender identity, national origin, disability, veteran status, and ancestry.	      <br>
	      <img src="images/bar3.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="bill_page_House_Bill_1001.html">House Bill 1001</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
House Bill 1001 amends a statute on excessive spending.	      <br>
	      <img src="images/bar2.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
		<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="bill_page_3-9-16-8-5-18.html">Bill 3-9-16-8-5-18</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
			Bill 3-9-16-8-5-18 amends possible conflicts between government and infrastructure.<br>
	      <img src="images/bar1.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
	-->
</div>


<footer>
</footer>
</body>
</html>