<% provide(:title, "Trending") %>
<header class="blue">
  <div class="header-left is-pulled-left">
      <a href="/">
        <img src="/assets/logo.png" alt="Logo" style="height:8vh">
      </a>
  </div>
    <!-- Hamburger menu (on mobile) -->
  <span class="header-toggle is-pulled-right">
    <span></span>
    <span></span>
    <span></span>
  </span>

    <!-- Right side -->
  <div class="header-right header-menu is-pulled-right">
    <span class="header-item">
      <a href="#">Bills</a>
    </span>
    <span class="header-item">
      <a href="#">Trending</a>
    </span>
    <span class="header-item">
      <a class="button" href="#">Login</a>
    </span>
  </div>
</header>

<br><br>

<div class="container is-half">
<h1 class="title is-1 bold is-text-centered">Bill Trends</h1>
<hr>
<h2 class="title is-2 trend-title">Most popular</h2>
	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="#">Senate Bill 1</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
	      Senate Bill 1 establishes a twelve-member law study commission to study whether environmental/administrative law judges should be replaced by an administrative court.
	      <br>
	      <img src="images/bar2.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="#">Senate Bill 2</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
	      Senate Bill 2 adds to civil rights laws to prevent discrimination based on sexual orientation, gender identity, national origin, disability, veteran status, and ancestry.
	      <br>
	      <img src="images/bar1.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
<h2 class="title is-2 trend-title">Most support</h2>
	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="#">Senate Bill 1001</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
	      House Bill 1001 amends a statute on excessive spending.
	      <br>
	      <img src="images/bar2.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="#">Senate Bill 3-9-16-8-5-18</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
	      Bill 3-9-16-8-5-18 amends possible conflicts between government and infrastructure
	      <br>
	      <img src="images/bar3.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
	<h2 class="title is-2 trend-title">Most opposition</h2>
<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="#">Senate Bill 2</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
	      Senate Bill 2 establishes a twelve-member law study commission to study whether environmental/administrative law judges should be replaced by an administrative court.
	      <br>
	      <img src="images/bar1.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-content">
	        <p class="title is-4 is-pulled-left"><a href="#">Senate Bill 1</a></p>
			<a class="button is-info is-pulled-right">Vote</a>
	      </div>
	    </div>
	    <div class="content is-text-centered">
	      Senate Bill 1 establishes a twelve-member law study commission to study whether environmental/administrative law judges should be replaced by an administrative court.
	      <br>
	      <img src="images/bar1.png" class="votechart" alt="">
	    </div>
	  </div>
	</div>
</div>


<footer>
</footer>
</body>
</html>