<% provide(:title, @user.name) %>
<header class="blue">
  <div class="header-left is-pulled-left">
      <a href="/">
        <img src="/assets/logo.png" alt="Logo" style="height:8vh">
      </a>
  </div>
    <!-- Hamburger menu (on mobile) -->
  <span class="header-toggle is-pulled-right">
    <span></span>
    <span></span>
    <span></span>
  </span>

    <!-- Right side -->
  <div class="header-right header-menu is-pulled-right">
    <!--
    <span class="header-item">
      <a href="#">Bills</a>
    </span>
    <span class="header-item">
      <a href="#">Trending</a>
    </span>
    -->
  </div>
</header>

<br />
  <div class="container is-text-centered">
    
    
    <h3 class="title is-3">Hi, <%= @user.name %><span class="light-blue"></span>!</h3>
    <div class="" alt="User Profile Picture"><%= gravatar_for @user %></div>
    <p>You have <span class="light-blue">21</span> points until your next badge.</p>
    <p>Earn points by voting on and sharing bills.</p>
    <br />
      <a href='/search.html' class="button is-success is-large">Check out some bills</a>
    <hr />
  </div>



<div class="container is-text-centered">
    <div class="columns">
      <div class="column">
        <p>Most Recent Acheivement:</p>
        <br>
        <h5 class="title is-5">You voted on <span class="light-blue"><a href="bill_page.html">Senate Bill 666</a></span>!</h5>
        <p>Your answer: <strong>I support this.</strong></p>
        <br>
        <a class="button is-info is-outlined">
            See results
        </a>
      </div>
      <div class="column">
        <p>Most Recent Badge:</p>
          <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
          <br>
          <a class="is-primary modal-button"><p>View my badges</p></a>
      </div>
    </div>
    <hr />
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="content">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
        <img src="/assets/Badge-icon.png" class="badge" alt="Badge">
      </div>
  </div>
  <button class="modal-close"></button>
</div>

<footer>
</footer>
<script src="https:/code.jquery.com/jquery-2.2.1.min.js"></script>

<script type="text/javascript">
$( ".modal-button" ).click(function() {
  $(".modal").addClass("is-active");
});

$( ".modal-close" ).click(function() {
  $(".modal").removeClass("is-active");
});

</script>


</body>
</html>