<% provide("Graph") %>
<%= render 'layouts/header' %>

<div class="container is-text-centered">
  <h1 class="title is-1 bold">Graph</h1>
  <br />
  <hr />
  
   
  

   <div class="container">
<img src="<%= asset_path("chart.jpg") %>" class="" alt="Chart">
  </div>
  
  
  <hr />
  </div>