<% provide(:title, "Trending") %>
<%= render 'layouts/header' %>

<div class="container is-text-centered">
  <h1 class="title is-1 bold">Trending Bills</h1>
  <br />
  <hr />
  <h1 class="title is-5 ">Top 5 Trending Bills per User Feedback</h1>
  
   
  
      <br />
  
    <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">A BILL FOR AN ACT TO AMEND THE INDIANA CODE CONCERNING STATE AND LOCAL ADMINISTRATION.</span></div>
      <p class="message-body">Establishes a procedure for the release of law enforcement recordings under the public records law. Exempts custodial interroga...</p>
  </div>
  
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">A BILL FOR AN ACT TO AMEND THE INDIANA CODE CONCERNING LOCAL GOVERNMENT.</span></div>
      <p class="message-body">Short description</p>
  </div>
  
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">Amends the home rule statute to prohibit a local government unit from: (1) regulating: (A) certain activities with respect to r...</span></div>
      <p class="message-body">Short description</p>
  </div>
  
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">A BILL FOR AN ACT TO AMEND THE INDIANA CODE CONCERNING CRIMINAL LAW AND PROCEDURE.</span></div>
      <p class="message-body">Repeals certain provision in current law defining the crimes of visiting and maintaining a common nuisance in connection with t...</p>
  </div>
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">A BILL FOR AN ACT TO AMEND THE INDIANA CODE CONCERNING TAXATION.</span></div>
      <p class="message-body">Exempts food sold through a vending machine from the state gross retail tax beginning July 1, 2017.</p>
  </div>
<hr />
</div>    
