<<<<<<< HEAD
<% provide(:title, "Trending") %>
=======
<% provide(:title, "Trending | Be heard!") %>
>>>>>>> billpage
<%= render 'layouts/header' %>

<div class="container is-text-centered">
  <h1 class="title is-1 bold">Trending Bills</h1>
<<<<<<< HEAD
  <br />
  <hr />
  
=======
  
    <br />
  <hr />
      <br />
  
    <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">Bill 1</span></div>
      <p class="message-body">Short description</p>
  </div>
  
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">Bill 2</span></div>
      <p class="message-body">Short description</p>
  </div>
  
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">Bill 3</span></div>
      <p class="message-body">Short description</p>
  </div>
  
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">Bill 4</span></div>
      <p class="message-body">Short description</p>
  </div>
      <div class="message is-warning" >
      <div class="message-header bill-title"><span style="font-size: 14px">Bill 5</span></div>
      <p class="message-body">Short description</p>
  </div>

</div>    
>>>>>>> billpage
