body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
	height: 8vh;
	border-bottom: 3px solid #ffd54a;
	margin-bottom: 40px;
}


.hero img {
	height: 25vh;
	width: auto;
	min-height: 100px;
}

.blue {
	background-color: #022247;
}

a {
    color: #1B75BB;
}

a:hover {
    color: #1B75BB;
    text-decoration: none;
}

.thin-container {
	width: 35%;
	margin: auto;
	padding-bottom: 10vh;
}

.error-signup {
	position: relative;
	padding-bottom: -5vh;
}

.signup-title {
	text-align: left;
}

.twitter {
	background-color: #00aced;
	color: white;
}

.facebook {
	background-color: #3b5998;
	color: white;
}

.reddit {
	background-color: #ff4500;
	color: white;
}

.text {
	width: 100%;
	border-radius:5px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #022247;
}

.text:focus, textarea:focus {
  box-shadow: 0 0 5px#022247;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #022247;
}

.tumblr {
	background-color: #32506d;
	color: white;
}

.icon {
	color: white;
}

.light-blue {
	color: #1B75BB;
	font-weight: bold;
}

.white {
	color: white;
}

.is-primary {
	background-color: #1B75BB;
}

.is-success {
	background-color: #3EB44A;
}

.badge {
	width: 100px;
	height: auto;
}

.menu {
	position: relative;
}

.submenu {
	position: absolute;
	display: none;
}

.menu-admin {
	position: relative;
}

.submenu-admin {
	position: absolute;
	display: none;
}

.hero {
	border-bottom: 5px solid #ffd54a;
}

.hero-img {
	width: 50%;
	height: auto;
	min-width: 200px;
}

.hero-footer {
	background-color: rgba(2,34,71,1);
	padding: 10px;
}

.hero-footer .title.is-1 {
	font-size: 4em;
	font-weight: bold;
}

.hero-footer .title.is-2 {
	font-size: 2em;
}

.bold {
	font-weight: bold;
}

.tag {
	margin-top: 5px;
}

.card {
	width: 100%;
	margin-top: 10px;
}


.padded-up-down {
	margin-bottom: 1vh;
	margin-top: 1vh;
}

input {
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.button-blue {
    -webkit-appearance: none;
    background: #022247;
    margin-top: 1vh;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #f5f7fa;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    height: 32px;
    line-height: 24px;
    padding: 3px 8px;
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
}

input.button-blue:hover {
    color: #ffd54a;
}

a.button-blue:hover {
    color: #ffd54a;
}

.votechart {
	height: 20px;
	width: 250px;
	margin-top: 10px;
}

.trend-title {
	margin-top: 50px;
}

footer {
	height: 100px;
}

bill-title {
	color: white;
}